<div class="container">
    <section id="wine-header">
        <div id="wine-title">
            <h1 class="heading">{{wine?.name}}</h1>
            <p class="subtitle">{{wine?.caption}}</p>
        </div>
        <button class="btn-shortcut" (click)="scroll(wineDetails)"><fa-icon [icon]="arrowDown"></fa-icon></button>
    </section>
    <section id="wine-details" #wineDetails>
        <div id="wine-details-left">
            <div id="wine-photo">
                <img src="../../../assets/uploads/wineplaceholder.jpg" alt="Photo of a {{wine?.name}}wine bottle"> 
            </div>
            <div id="wine-info">
                <div class="info-box" id="wine-alt-names">
                    <h2 class="subheading">Alternative Names</h2>
                    <p>
                        <span *ngFor="let alt of wine?.alt_names; last as isLast">
                            {{alt}}<span *ngIf="!isLast">, </span>
                        </span>
                    </p>
                </div>
                <div class="info-box" id="wine-styles">
                    <h2 class="subheading">Styles</h2>
                    <wine-wine-style [wineStyles]="wine?.styles"></wine-wine-style>
                </div>
                <div class="info-box" id="wine-rarity">
                    <h2 class="subheading">Wine Rarity</h2>
                    <p>{{wine?.rarity!.charAt(0).toUpperCase() + wine?.rarity!.slice(1)}}</p>
                </div>
                <div class="info-box" id="wine-area">
                    <h2 class="subheading">Area Planted</h2>
                    <p>{{wine?.area}} ha</p>
                </div>
                <div class="info-box" id="wine-producers">
                    <h2 class="subheading">Top Producers</h2>
                    <p>
                        <span *ngFor="let producer of wine?.top_producers; last as isLast">
                            {{producer}}<span *ngIf="!isLast">, </span>
                        </span>
                    </p>
                </div>
                <div class="info-box" id="wine-temperature">
                    <h2 class="subheading">Serving Temperature</h2>
                    <p>{{wine?.serving_temperature}} °C</p>
                </div>
                <div class="info-box" id="wine-decant">
                    <h2 class="subheading">Decant</h2>
                    <p><span *ngIf="wine?.decant">Yes</span><span *ngIf="!wine?.decant">No</span></p>
                </div>
            </div>
        </div>
        <div id="wine-details-right">
            <div class="info-box" id="wine-description">
                <h2 class="subheading">Description</h2>
                <p class="linebreak">{{wine?.description}}</p>
            </div>
            <div class="info-box"v id="wine-food">
                <h2 class="subheading">Food Pairing</h2>
                <p class="linebreak">{{wine?.food_pairing}}</p>
            </div>
            <div class="info-box" id="wine-flavors">
                <h2 class="subheading">Flavor Profile</h2>
                <p class="linebreak">{{wine?.flavors?.description}}</p>
            </div>
            <div class="info-box" id="wine-glass">
                <h2 class="subheading">Which Glass?</h2>
                <wine-wine-glass [activeGlass]="wine?.glass_serving || 'universal'"></wine-wine-glass>
            </div>
        </div>
    </section>
</div>

