@import '../../../../assets/styles/vars';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    border-bottom: 1px solid $color-gray-light;
    padding: 1rem;
    min-height: max-content;
    height: 10rem;
    background-color: #fff;
    border-radius: 1rem;
    transition: all 500ms ease;
    &:hover {
        transform: scale(1.05);
        box-shadow: 2px 2px 16px rgba(0,0,0, 0.3);
        h1, fa-icon {
            color: $color-accent-purple;
        }
    }
    cursor: pointer;
}

.wine-main {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.wine-style {
    min-width: 1rem;
    height: 100%;
    border-radius: 0.5rem;
}

.wine-heading-title {
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    font-style: italic;
}

.wine-heading-subtitle {
    color: $color-gray-dark;
}

.wine-btn {
    font-size: 1.5rem;
    color: $color-gray-dark;
}

@media only screen and (max-width: 1024px) {
    .container {
        height: 15rem;
        gap: 2rem;
        word-wrap: break-word;
        width: 100%;
        justify-content: flex-start;
    }
    .wine-btn {
        display: none;
    }
    .wine-main {
        width: 100%;
    }
    .wine-heading {
        width: 100%;
    }
    .wine-heading-title, .wine-heading-subtitle {
        width: 100%;
        word-wrap: break-word;
    }
}