<div class="container" id="menu" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
    <button>
        <fa-icon (click)="navigate('left')" [icon]="buttonLeft"></fa-icon>
    </button>
    <div class="container" id="homepage-options">
        <a class="homepage-option" id="quiz" *ngIf="activeOption=='quiz'" routerLink="/quiz">
            <p class="title">Take the quiz</p>
        </a>
        <a class="homepage-option" id="search" *ngIf="activeOption=='search'" routerLink="/search">
            <p class="title">Search manually</p>
        </a>
        <a class="homepage-option" id="random" *ngIf="activeOption=='random'" (click)="getRandom()">
            <p class="title">Lucky guess</p>
        </a>
    </div>
    <button>
        <fa-icon (click)="navigate('right')" [icon]="buttonRight"></fa-icon>
    </button>
</div>