.container {
    display: flex;
}

#menu {
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.homepage-option {
    text-align: center;
    .title {
        font-weight: bold;
        font-size: 3rem;
    }
    .subtitle {
        font-weight: lighter;
        font-size: 1.1rem;
    }
}