@import '../../../assets/vars';

.container {
    display: flex;
}

#menu {
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 7rem;
}

.homepage-option {
    text-align: center;
    &:hover {
        .title {
            color: $color-accent-purple;
        }
    }
    .title {
        font-weight: bold;
        font-size: 4rem;
    }
}

button {
    border: none;
    background-color: unset;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
        color: $color-accent-purple;
    }
}