<div class="container" id="menu">
    <button>
        <fa-icon (click)="navigate('left')" [icon]="buttonLeft"></fa-icon>
    </button>
    <div class="container" id="homepage-options">
        <a href="" class="homepage-option" id="quiz" *ngIf="activeOption=='quiz'">
            <p class="title">Take the quiz</p>
        </a>
        <a href="" class="homepage-option" id="search" *ngIf="activeOption=='search'">
            <p class="title">Search manually</p>
        </a>
        <a href="" class="homepage-option" id="random" *ngIf="activeOption=='random'">
            <p class="title">Lucky guess</p>
        </a>
    </div>
    <button>
        <fa-icon (click)="navigate('right')" [icon]="buttonRight"></fa-icon>
    </button>
</div>