@import '../../../../assets/styles/vars';

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    svg {
        flex-basis: 150px;
        transition: transform 500ms ease;
        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

.active {
    fill: $color-accent-purple;
}

.btn-exit {
    border: none;
    background: none;
    font-size: 1.25rem;
    color: $color-gray-dark;
    cursor: pointer;
    &:hover {
        color: $color-accent-purple;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        justify-content: center;
        flex-wrap: wrap;
    }
    
}