@import '../../../../assets/styles/vars';

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    svg {
        flex-basis: 150px;
        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

.active {
    fill: $color-accent-purple;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    background-color: rgba($color: $color-white, $alpha: 0.75);
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-container {
        position: fixed;
        top: 20vh;
        left: 20vw;
        width: 60vw;
        height: 60vh;
        background-color: #fff;
        border-radius: 2rem;
        box-shadow: 2px 2px 16px rgba($color: $color-gray-dark, $alpha: 0.5);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        .btn-exit {
            align-self: flex-end;
        }
        .modal-content {
            position: relative;
            height: 100%;
            overflow: hidden;
            padding: 2rem;
        }
    }
}

.btn-exit {
    border: none;
    background: none;
    font-size: 1.25rem;
    color: $color-gray-dark;
    cursor: pointer;
    &:hover {
        color: $color-accent-purple;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        justify-content: center;
        flex-wrap: wrap;
    }
    #modal {
        padding: 2rem;
        .modal-container {
            top: 10vh;
            left: 10vw;
            width: 80vw;
            height: 80vh;
        }
    }
}

@media only screen and (max-width: 860px) {
    #modal {
        .modal-container {
            top: 20vh;
            height: 60vh;
        }
    }
}