<div class="container">
    <section id="contact-form">
        <div>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid': contactForm.controls.name.invalid && (contactForm.controls.name.touched || contactForm.controls.name.dirty)}" formControlName="name" placeholder="Your name" id="name" name="name">
                    <div *ngIf="contactForm.controls.name?.invalid && (contactForm.controls.name?.touched || contactForm.controls.name?.dirty)">
                        <small *ngIf="contactForm.controls.name?.errors?.['required']">Name is required</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid': contactForm.controls.subject.invalid && (contactForm.controls.subject.touched || contactForm.controls.subject.dirty)}" formControlName="subject" placeholder="Subject" id="subject" name="subject">
                    <div *ngIf="contactForm.controls.subject?.invalid && (contactForm.controls.subject?.touched || contactForm.controls.subject?.dirty)">
                        <small *ngIf="contactForm.controls.subject?.errors?.['required']">Subject is required</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid': contactForm.controls.email.invalid && (contactForm.controls.email.touched || contactForm.controls.email.dirty)}" formControlName="email" placeholder="Your email" id="email" name="email">
                    <div *ngIf="contactForm.controls.email?.invalid && (contactForm.controls.email?.touched || contactForm.controls.email?.dirty)">
                        <small *ngIf="contactForm.controls.email?.errors?.['required']">Email is required</small>
                        <small *ngIf="contactForm.controls.email?.errors?.['email']">Not a valid email</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea type="text" class="form-control" [ngClass]="{'is-invalid': contactForm.controls.message.invalid && (contactForm.controls.message.touched || contactForm.controls.message.dirty)}" formControlName="message" placeholder="Your message" id="message" name="message"></textarea>
                    <div *ngIf="contactForm.controls.message?.invalid && (contactForm.controls.message?.touched || contactForm.controls.message?.dirty)">
                        <small *ngIf="contactForm.controls.message?.errors?.['required']">Message is required</small>
                        <small *ngIf="contactForm.controls.message?.errors?.['maxLength']">Maximum number of letters in a message is 1000</small>
                    </div>
                </div>
                <button type="submit" [disabled]="!contactForm.valid">Send message</button>
            </form>
        </div>
    </section>
    <section id="contact-info">
        <div>
            <!-- <h1>SOCIALS</h1> -->
            <div id="contact-info-links">
                <a class="contact-info-link" target="_blank" href="https://www.instagram.com"><fa-icon [icon]="instagram"></fa-icon></a>
                <a class="contact-info-link" target="_blank" href="https://www.linkedin.com"><fa-icon [icon]="linkedin"></fa-icon></a>
            </div>
        </div>
    </section>
</div>
<div id="message-container" *ngIf="showMessage">
    <div id="message-content">
        <p>{{messageText}}</p>
    </div>
</div>