<div class="container">
    <section id="contact-form">
        <div>
            <!-- <h1>CONTACT</h1> -->
            <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Your name" id="name" name="name" required [(ngModel)]="message.name" #name>
                <input type="email" placeholder="Your email" id="email" name="email" required email [(ngModel)]="message.email" #email>
                <input type="text" placeholder="Subject" id="subject" name="subject" required [(ngModel)]="message.subject" #subject>
                <textarea placeholder="Your message" id="text" name="text" required [(ngModel)]="message.text" #text></textarea>
                <button type="submit" [disabled]="!contactForm.valid">Submit</button>
            </form>
        </div>
    </section>
    <section id="contact-info">
        <div>
            <!-- <h1>SOCIALS</h1> -->
            <div id="contact-info-links">
                <a class="contact-info-link" target="_blank" href="https://www.instagram.com"><fa-icon [icon]="instagram"></fa-icon></a>
                <a class="contact-info-link" target="_blank" href="https://www.linkedin.com"><fa-icon [icon]="linkedin"></fa-icon></a>
            </div>
        </div>
    </section>
</div>