<div class="container">
    <section id="contact-form">
        <div>
            <!-- <h1>CONTACT</h1> -->
            <form action="">
                <input type="text" placeholder="Your name">
                <input type="email" placeholder="Your email">
                <input type="text" placeholder="Subject">
                <textarea name="" id="" placeholder="Your message"></textarea>
            </form>
        </div>
    </section>
    <section id="contact-info">
        <div>
            <!-- <h1>SOCIALS</h1> -->
            <div id="contact-info-links">
                <a class="contact-info-link" target="_blank" href="https://www.instagram.com"><fa-icon [icon]="instagram"></fa-icon></a>
                <a class="contact-info-link" target="_blank" href="https://www.linkedin.com"><fa-icon [icon]="linkedin"></fa-icon></a>
            </div>
        </div>
    </section>
</div>