@import "../../../../assets/styles/vars";

.container {
    text-align: center;
    display: flex;
}

.filter-option {
    background-color: unset;
    border: none;
    border-bottom: 2px solid $color-gray-dark;
    padding: 1rem;
    font-size: 1.2rem;
    color: $color-gray-dark;
    flex: 1 1 0;
    cursor: pointer;
    transition: all 250ms linear;
    &:hover:not(.active) {
        color: $color-accent-purple;
        border-bottom: 2px solid $color-accent-purple;
    }
}

.active {
    border-bottom: 5px solid $color-accent-purple;
    color: $color-accent-purple;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    .filter-option {
        flex: none;
        width: calc(100%/3);
    }
}

@media only screen and (max-width: 479px) {
    .filter-option {
        width: 50%;
    }
}