@import '../../../assets/styles/vars';

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 5rem;
    margin: 2rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 16px rgba($color: $color-accent-purple, $alpha: 0.5);
    border-radius: 4rem;
    background-color: $color-accent-purple;
    background-image: url('../../../assets/images/bkg-nav-2.png');
    background-size: 1000px;
    background-repeat: repeat;
    gap: 3rem;
}

#navbar-logo {
    height: 3rem;
}

#navbar-nav {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
    min-height: 3rem;
    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1.5rem;
        li {
            transition: transform 100ms ease;
            &:hover {
                transform: scale(1.15);
            }
        }
    }
}

.link {
    color: $color-white;
}

.link-active {
    font-weight: bold;
}

.navbar-collapsed {
    width: max-content;
    padding-right: 3rem;
    padding-left: 3rem;
    transition: all 100ms ease;
}

#btn-navbar-collapse {
    background-color: initial;
    border: none;
    color: $color-white;
    font-size: 2rem;
    &:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        justify-content: center;
        flex-direction: column;
        margin: 0;
        border-radius: 0;
        padding: 2rem;
        gap: 2rem;
    }

    #navbar-nav {
        ul {
            text-align: center;
            flex-direction: column;
        }
    }
    #btn-navbar-collapse {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    #navbar-logo {
        height: 2rem;
    }
}