<div class="container">
    <img src="../../../assets/logo-vinquizitor.svg" id="navbar-logo" alt="Vinquizitor Logo">
    <nav id="navbar-nav">
        <ul>
            <li><a routerLink="/home" routerLinkActive="link-active" class="link">home</a></li>
            <li><a routerLinkActive="link-active" class="link">quiz</a></li>
            <li><a routerLinkActive="link-active" class="link">search</a></li>
            <li><a routerLink="/contact" routerLinkActive="link-active" class="link">contact</a></li>
        </ul>
    </nav>
</div>