@import "../../../../assets/vars";

.container {
    display: flex;
}

.sort-select {
    background-color: unset;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    color: $color-gray-dark;
    cursor: pointer;
}

.active {
    border-bottom: 4px solid $color-accent-purple;
    color: $color-accent-purple;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    .sort-select {
        width: 100%;
    }
}