@import '../../../assets/vars';

.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 8rem 2rem 2rem 2rem;
    gap: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#quiz-start {
    p {
        text-align: center;
        max-width: 50%;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}

.btn {
    border: none;
    background-color: $color-black;
    color: $color-white;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    border-radius: 2rem;
    font-weight: 700;
    &:hover {
        background-color: $color-accent-purple;
        transform: scale(1.1);
        cursor: pointer;
    }
}