.container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
    h1 {
        font-family: "Playfair Display", serif;
        font-size: 3rem;
        font-style: italic;
    }
    
    p {
        font-size: 1.2rem;
        text-align: justify;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
}