<div class="container">
    <div id="content">
        <fa-icon [icon]="exitButton" (click)="closeModal()"></fa-icon>
        <h1>{{glass?.type?.substring(0,1)?.toUpperCase()}}{{glass?.type?.substring(1)}} Wine Glass</h1>
        <div id="inner-content">
            <img *ngIf="glass" src="{{api}}{{glass.icon}}" onerror="this.src='../../../../assets/images/placeholder-variety.png'" alt="Icon of a {{glass.type}} type wine glass">
            <div id="description">
                <p>{{glass?.description}}</p>
            </div>
        </div>
    </div>
</div>