<div class="container" *ngIf="glassType==='flute'">
    <h1>Flute</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reprehenderit aut accusamus nam ullam animi aperiam necessitatibus nostrum quis recusandae molestias nobis qui at dolor ipsum tenetur odio veritatis perferendis, laboriosam sapiente provident doloribus iure incidunt id! Illo impedit, eos quod sunt ratione minima. Hic ducimus et repellendus enim officiis.</p>
</div>
<div class="container" *ngIf="glassType==='white'">
    <h1>White Wine Glass</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reprehenderit aut accusamus nam ullam animi aperiam necessitatibus nostrum quis recusandae molestias nobis qui at dolor ipsum tenetur odio veritatis perferendis, laboriosam sapiente provident doloribus iure incidunt id! Illo impedit, eos quod sunt ratione minima. Hic ducimus et repellendus enim officiis.</p>
</div>
<div class="container" *ngIf="glassType==='aromaCollector'">
    <h1>Aroma Collector</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reprehenderit aut accusamus nam ullam animi aperiam necessitatibus nostrum quis recusandae molestias nobis qui at dolor ipsum tenetur odio veritatis perferendis, laboriosam sapiente provident doloribus iure incidunt id! Illo impedit, eos quod sunt ratione minima. Hic ducimus et repellendus enim officiis.</p>
</div>
<div class="container" *ngIf="glassType==='universal'">
    <h1>Universal Glass</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reprehenderit aut accusamus nam ullam animi aperiam necessitatibus nostrum quis recusandae molestias nobis qui at dolor ipsum tenetur odio veritatis perferendis, laboriosam sapiente provident doloribus iure incidunt id! Illo impedit, eos quod sunt ratione minima. Hic ducimus et repellendus enim officiis.</p>
</div>
<div class="container" *ngIf="glassType==='dessert'">
    <h1>Dessert Wine Glass</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reprehenderit aut accusamus nam ullam animi aperiam necessitatibus nostrum quis recusandae molestias nobis qui at dolor ipsum tenetur odio veritatis perferendis, laboriosam sapiente provident doloribus iure incidunt id! Illo impedit, eos quod sunt ratione minima. Hic ducimus et repellendus enim officiis.</p>
</div>
<div class="container" *ngIf="glassType==='oversized'">
    <h1>Oversized Glass</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam reprehenderit aut accusamus nam ullam animi aperiam necessitatibus nostrum quis recusandae molestias nobis qui at dolor ipsum tenetur odio veritatis perferendis, laboriosam sapiente provident doloribus iure incidunt id! Illo impedit, eos quod sunt ratione minima. Hic ducimus et repellendus enim officiis.</p>
</div>
