<div class="container">
    <div class="style" [ngClass]="{'lightRed':wineStyles?.includes('light_red')}">
        <span class="tooltipText">Light Red</span>
    </div>
    <div class="style" [ngClass]="{'mediumRed':wineStyles?.includes('medium_red')}">
        <span class="tooltipText">Medium Red</span>
    </div>
    <div class="style" [ngClass]="{'fullRed':wineStyles?.includes('full_red')}">
        <span class="tooltipText">Full Red</span>
    </div>
    <div class="style" [ngClass]="{'rose':wineStyles?.includes('rosé')}">
        <span class="tooltipText">Rosé</span>
    </div>
    <div class="style" [ngClass]="{'lightWhite':wineStyles?.includes('light_white')}">
        <span class="tooltipText">Light White</span>
    </div>
    <div class="style" [ngClass]="{'fullWhite':wineStyles?.includes('full_white')}">
        <span class="tooltipText">Full White</span>
    </div>
    <div class="style" [ngClass]="{'sweetWhite':wineStyles?.includes('sweet_white')}">
        <span class="tooltipText">Sweet White</span>
    </div>
    <div class="style" [ngClass]="{'sparkling':wineStyles?.includes('sparkling')}">
        <span class="tooltipText">Sparkling</span>
    </div>
    <div class="style" [ngClass]="{'dessert':wineStyles?.includes('dessert')}">
        <span class="tooltipText">Dessert</span>
    </div>
</div>