<div class="container">
    <section id="search-options">
        <!-- TODO: implement sort and filter -->
        <div id="search-option-filter">
            FILTER
        </div>
        <div class="divider"></div>
        <div id="search-option-sort">
            SORT
        </div>
    </section>
    <section id="search-results">
        <div>PLACEHOLDER</div>
        <div>PLACEHOLDER</div>
        <div>PLACEHOLDER</div>
        <div>PLACEHOLDER</div>
        <!-- TODO: wine list component -->
    </section>
</div>