$color-accent-purple-light: #BA2F64;
$color-accent-purple: #6E1B3B;
$color-gray-dark: #a9a9a9;
$color-gray-light: #eaeaea;

$color-black: #111;
$color-white: #f5f5f5;

$lightRed: #F39D9D;
$mediumRed: #A62946;
$fullRed: #70162F;
$rose: #F3B9A8;
$lightWhite: #E9DA94;
$fullWhite: #FAD181;
$sweetWhite: #FBE984;
$sparkling: #D7CDA0;
$dessert: #B37642;