/* You can add global styles to this file, and also import other style files */

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: initial;
}

html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}